<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER</title>
</head>
<body>
  <h1>Named Entity Extractor</h1>
    <form action = "/predict" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <br><br>
         <input type = "submit"/>
         <input type = "reset"/>
      </form>  
</body>
</html>